/*estilos para experiencia*/

.experiencia1 img {width: 30%;}
.experiencia2 img {width: 30%;}

.experiencia1 { font-size: 20px;
color: red;
margin-top: 100px;}

.experiencia2 { font-size: 20px;
color: chartreuse;
margin-bottom: 100px;}

.experiencias-1 { margin-top: 150px;
margin-bottom: 150px;}