/*Estilos de footer*/

iframe { height: 300px;
    width: 300px; }
    
    .redes img { height: 100px;
    width: 100px;}
    
    footer {display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .transicion { transition: all 2s;}
    
    .transicion:hover {  transform: scale(4) ;}
    
    .transicion-1 { transition: all 2s;}
    .transicion-1:hover {transform: scale(2);}